<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-8 ">
				<h1 class="page-title">{{title}}</h1>
			</div>
		</div>
		{{#each children}}
			{{{this}}}
		{{/each}}
	</div>
</div>
