<div>
	<header class="tp-navbar">
		<div class="tp-container tp-centered-container">
			<div class="tp-row" id="userMenuParent">
				<div class="tp-navbar-logo">
					<a class="tp-navbar-brand" href="/" target="_self">
						Project name
					</a>
				</div>
				<ul class="tp-navbar-navigate" role="menubar">
					<li class="">
						<a href="/jobs/" target="_self" role="menuitem">
							Jobs
						</a>
					</li>
					<li class="">
						<a href="/freelancers/" target="_self" role="menuitem">
							Freelancers
						</a>
					</li>
					<li class="tp-dropdown">
						<a
								class="tp-dropdown-toggle"
								href="/"
								target="_self"
								role="menuitem"
						>
							Other
						</a>
						<ul class="tp-dropdown-content">
							<li role="none">others</li>
							<li role="none">others</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>
</div>
