.account-settings {
	&__main {
	}

	&__delete-block {
	}

	&__avatar {
		margin-top: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__delete {
		height: 100%;
		margin-bottom: 0;
	}
}

.account-delete {
	&__btn {
		margin-top: auto;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.account-settings {
		&__main {
			--width: 12;
		}

		&__delete-block {
			--width: 12;
		}
	}

	.main-settings {
		&__submit button {
			width: 100%;
		}
	}

	.account-delete {
		&__btn {
			justify-content: flex-start;
		}
	}
}
