*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: $font-stack;
	font-size: $font-size;
	color: var(--text-dark);
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.text-center {
	text-align: center;
}


#root {
	all: inherit;
}

.page {
	height: 100%;
}
