@import "~@assets/scss/global";

.features-list {
	list-style: none;
	display: flex;
	//flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

	&__item {
		width: 33.33%;
		position: relative;
		padding-right: 10px;
	}

	&__item:not(:first-child) {
		padding-left: 29px;
	}
}

@media screen and (max-width: 576px) {
	.features-list {
		&__item {
			padding: 0;

			&:not(:first-child) {
				padding-left: 24px;
			}
		}
	}
}
