<div>
	<div class="tp-container">
		<div class="tp-row">
			<div class="tp-col-8">
				<h1>{{title}}</h1>
				<form method="post">
					<div>
						<label class="projectForm__label" for="name"
						>Название</label
						>
						{{#if isProject}}
						<p>
							Напишите название вашего проекта. Название должно
							привлечь внимание и отразить суть проекта.
						</p>
						<div>
							Несколько хороших примеров:
							<ul>
								<li>
									Нужен разрабтчик для создания адаптивной
									темы для WordPress
								</li>
								<li>Нужен дизайн нового логотипа компании</li>
								<li>Ищем специалиста по по 3D моделированию</li>
							</ul>
						</div>
						{{/if}}
						<input
							id="name"
							name="name"
							class="tp-input"
							type="text"
							minlength="5"
							maxlength="1000"
							placeholder="Кого вы ищете и какую работу нужно выполнить"
						/>
					</div>
					<div>
						<label class="projectForm__label" for="description"
						>Описание проекта</label
						>
						<ul>
							<li>
								Укажите каким должен быть результат работы;
								требование к результату
							</li>
							<li>
								Каким должен быть фрилансер; требование к
								исполнителю
							</li>
							<li>Важная информация о проекте</li>
							<li>Сроки выполнения и другие условия</li>
						</ul>
						<textarea
							id="description"
							name="description"
							class="tp-input"
							rows="3"
							minlength="50"
							maxlength="5000"
							placeholder="Расскажите подробно о вашем проекте"
						></textarea>
					</div>
					<div>
						<label class="projectForm__label" for="files"
						>Файлы</label
						>
						<div>
							Загрузите до 10 файлов общим объемом до 100 Мб
						</div>
						<div>
							<div>filename.jpg (300Kb) <span>Удалить</span></div>
						</div>
						<div class="projectForm__loadFiles">
							Загрузите файлы
						</div>
						<input
							type="file"
							class="tp-input"
							id="files"
							name="files"
							accept="image/png, image/jpeg"
						/>
					</div>
					<div>
						<label class="projectForm__label" for="category"
						>Специализация проекта</label
						>
						<select class="tp-input" name="category" id="category">
							<option selected disabled
							>Выберите категорию
							</option
							>
							<option value="gamedev">Разработка игр</option>
							<option value="webdev">Разработка сайтов</option>
							<option value="designArt">Дизайн и арт</option>
							<option value="dev">Программирование</option>
							<option value="3dGraph">3D Графика</option>
						</select>

						<select
							class="tp-input"
							name="speciality"
							id="speciality"
						>
							<option selected disabled
							>Выберите специализацию
							</option
							>
							<option value="gamedev">Разработка игр</option>
							<option value="webdev">Разработка сайтов</option>
							<option value="designArt">Дизайн и арт</option>
							<option value="dev">Программирование</option>
							<option value="3dGraph">3D Графика</option>
						</select>
					</div>
					<div>
						<label class="projectForm__label" for="skills"
						>Требуемые навыки и компетенции</label
						>
						<div>Какие навыки и опыт более важны для вас?</div>
						<div>
							<span>Golang</span><span>Javascript</span
						><span>HTML</span>
						</div>
						<input
							id="skills"
							name="skills"
							class="tp-input"
							type="text"
							placeholder="Введите название навыка для добавления"
						/>
					</div>
					<div>
						<label class="projectForm__label" for="budget"
						>Бюджет</label
						>
						<input
							id="budget"
							name="budget"
							class="tp-input"
							type="number"
							placeholder="0"
						/>
						иконка рубля
					</div>
					{{#if isVacancy}}
						<div>
							<label class="projectForm__label" for="country">Нужен исполнитель из...</label>
							<select class="tp-input" name="country" id="country">
								<option selected disabled
								>Страна</option
								>
								<option value="gamedev">Разработка игр</option>
								<option value="webdev">Разработка сайтов</option>
								<option value="designArt">Дизайн и арт</option>
								<option value="dev">Программирование</option>
								<option value="3dGraph">3D Графика</option>
							</select>

							<select
									class="tp-input"
									name="city"
									id="city"
							>
								<option selected disabled
								>Город</option
								>
								<option value="gamedev">Разработка игр</option>
								<option value="webdev">Разработка сайтов</option>
								<option value="designArt">Дизайн и арт</option>
								<option value="dev">Программирование</option>
								<option value="3dGraph">3D Графика</option>
							</select>
						</div>
					{{/if}}
					<div>
						<label class="projectForm__label" for="budget"
						>Уровень фрилансера</label
						>
						<div>
							Выберите требуемый уровень фрилансера для выполнения
							вашего проекта.
						</div>
						<input
							class="tp-input"
							id="beginner"
							type="radio"
							checked="checked"
							name="freelancer_level"
							value="client"
						/>
						<label for="beginner">
							Начинающий. Базовые знания и небольшой опыт работы
						</label>
						<input
							class="tp-input"
							id="intermediate"
							type="radio"
							checked="checked"
							name="freelancer_level"
							value="client"
						/>
						<label for="intermediate">
							Продвинутый. Несколько лет профессионального опыта
						</label>
						<input
							class="tp-input"
							id="expert"
							type="radio"
							checked="checked"
							name="freelancer_level"
							value="client"
						/>
						<label for="expert">
							Эксперт. Многолетний опыт работы в сложных проектах
						</label>
					</div>
					<div>
						<div>Способ оплаты</div>
						<div>Прямая оплата Исполнитлю на его кашелек/счет</div>
					</div>
					<input type="submit" value="Опубликовать проект"/>
				</form>
			</div>
		</div>
	</div>
</div>
