<footer class="footer">
	<div class="tp-container tp-centered-container">
		<div class="tp-row">
			<div class="tp-col-12">
				<div class="text-center copyright">
					<a class="router-link">
						<div class="bounce">
							<span class="letter">C</span>
							<span class="letter">o</span>
							<span class="letter">m</span>
							<span class="letter">a</span>
							<span class="letter">n</span>
							<span class="letter">d</span>
							<span class="letter">u</span>
							<span class="letter">s</span>
						</div>
					</a>
					<span class="copyright-year">2019</span>
				</div>
			</div>
		</div>
	</div>
</footer>
