@import "~@assets/scss/global";

.footer {
	//background: linear-gradient(90deg, rgba(28,79,123,1) 0%, rgba(28,69,123,1) 20%, rgba($footer-background, 1) 74%);
	position: relative;
	color: rgb(34, 34, 34);
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

.copyright {
	display: flex;
	padding-top: 30px;
	padding-bottom: 20px;
	justify-content: flex-end;
}

.copyright a {
	margin-right: 40px;
}

.copyright-year {
	display: flex;
	align-items: flex-end;
}
