.send-proposal-form {
	width: 600px;
	&__buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		& button {
			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}

	&__buttons-wrapper {
		margin: 0;
		padding: 10px 0;
	}
}

@media screen and (max-width: 600px) {
	.send-proposal-form {
		width: auto;
		&__buttons {
			flex-direction: column;
			align-items: stretch;
		}

		&__buttons-wrapper {

		}

		& button {
			margin: 0;
			width: 100%;
			&:not(:first-child) {
				margin: 10px 0 0 0;
			}
		}
	}
}
