<div id="{{_id}}">
	<header class="tp-navbar">
		<div class="tp-container tp-centered-container">
			<div class="tp-row" id="userMenuParent">
				<div class="tp-navbar-logo-wrapper">
{{!--					<div class="tp-navbar-logo">--}}
						<a class="tp-navbar-brand" href="/" target="_self">
							FWork
						</a>
{{!--					</div>--}}

				</div>
				<ul class="tp-navbar-navigate" role="menubar">
					<li class="">
						<a href="/jobs?=type=project" target="_self" role="menuitem">
							Проекты
						</a>
					</li>
					<li class="">
						<a href="/jobs/?type=vacancy" target="_self" role="menuitem">
							Вакансии
						</a>
					</li>
					<li class="">
						<a href="/freelancers" target="_self" role="menuitem">
							Фрилансеры
						</a>
					</li>
					<li class="">
						<a href="/freelancers/some-id" target="_self" role="menuitem">
							Фрилансеры id
						</a>
					</li>
					<li class="">
						<a href="/search" target="_self" role="menuitem">
							Search
						</a>
					</li>
					<li class="">
						<a href="/messages" target="_self" role="menuitem">
							messages
						</a>
					</li>
{{!--					<li class="tp-navbar-search">--}}
{{!--						<form method="GET" role="search">--}}
{{!--							<div>--}}
{{!--								<input/>--}}
{{!--							</div>--}}
{{!--						</form>--}}
{{!--					</li>--}}
				</ul>
				{{{userMenu}}}
			</div>
		</div>
	</header>
</div>
