<div id="{{_id}}" class="messages-wrap">
	<div class="messages">
		{{{conversationImg}}}
		<div class="messages_text">Здесь будут сообщения</div>
	</div>
	{{#each children}}
		{{{this}}}
	{{/each}}
</div>
