@import "~@assets/scss/global";

.job-item__title {
	font-size: 1.2em;
	margin-bottom: 15px;
	display: block;
	padding: 0;
	overflow-wrap: break-word;
}

.job-item__description {
	font-size: .9em;
	margin-bottom: 15px;
	overflow-wrap: break-word;
	max-height: 56px;
	overflow: hidden;
}

.job-item__small__info {
	margin-bottom: 15px;
}

.job-item__small {
	color: #656565;
	font-size: .9em;
}

.item:hover .job-item .manage-buttons{
	visibility: visible;
}
.manage-buttons {
	visibility: hidden;
	display: flex;
	justify-content: flex-end;
}

.manage-btn {
	margin-left: 20px;
}

.job-item__country {
	padding-left: 20px;

	& i {
		font-size: 14px;
		line-height: 14px;
	}
}

.job-item__budget {
	color: #242124;
}

.job-small-info {
	&__project {
		//color: $primary-color;
		color: $light-primary-color;
	}

	&__vacancy {
		color: #4E45AF;
		//color: #33AE89;
	}
}
