.tp-form > * {
	margin-bottom: 10px;
}

.tp-form-window {
	box-shadow: 1px 2px 10px 0px #c5c5c5;
	padding: 12px 20px 20px;
}

.tp-form-window > h1 {
	padding: 0;
	text-align: center;
}

input[type='text'].tp-input,
input[type='password'].tp-input,
input[type='number'].tp-input,
input[type='email'].tp-input,
textarea.tp-input,
select.tp-input {
	display: block;
	width: 100%;
	margin-top: 4px;
	/*padding: 12px 12px;*/
	outline: 0;
	background: #eef2f7;
	border-radius: 0.5rem;
}

input[type='date'].tp-input {
	display: block;
	margin-top: 4px;
	outline: 0;
	background: #eef2f7;
	border-radius: 0.5rem;
}

.tp-form > label {
	display: block;
}

input[type='checkbox'].tp-input {
	height: auto;
	box-shadow: none;
	margin: 10px 6px;
}

.tp-label-checkbox {
	margin-top: 10px;
}

input[type='file'].tp-input {
	border: none;
	box-shadow: none;
}

input[type='text'][readonly].tp-input {
	background: inherit;
	/*box-shadow: none;*/
	font-size: 1.1rem;
}

input[type='text'].tp-input:focus,
input[type='password'].tp-input:focus,
input[type='number'].tp-input:focus,
input[type='email'].tp-input:focus,
input[type='date'].tp-input:focus,
textarea.tp-input:focus,
select.tp-input:focus {
	background: white;
	transition: background 0.2s ease;
}

.tp-text-title {
	margin: 4px 0;
	font-size: 1.3rem;
}

.tp-description {
	margin: 6px 0;
}

label.tp-label-centered {
	text-align: center;
}

input[type='text'][readonly].tp-input:focus {
	background: inherit;
}

input[type='text'].tp-input {
}

input[type='password'].tp-input {
}

input[type='number'].tp-input {
}

input[type='email'].tp-input {
}

.tp-2cols-list {
	display: flex;
	flex-direction: row;
	margin: 6px 0;
	/*padding: 2px 4px;*/
	flex-wrap: wrap;
}

.tp-checkbox-row {
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: flex-start !important;
}

.tp-2cols-list-element {
	width: 50%;
}

.tp-form-choice > p {
	margin: 0;
}
.tp-form-choice [class*='tp-col-'] {
	padding: 4px 16px;
}

.tp-label-note {
	font-size: 0.7rem;
}

.tp-button-primary {
	background-color: #4caf50;
	color: white;
	margin: 4px 0;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	min-height: 32px;
}

.tp-button-primary:hover {
	background-color: #45a049;
}

form > label {
	user-select: none;
}

.tp-input-file-button {
    color: #555;
    padding: 0;
    margin: 10px 0;
    margin-right: 10px;
    line-height: 40px;
    width: 200px;
    /*margin:auto;*/
    display: block;
    border: 2px solid #555;
    border-radius: 0.5rem;
    text-align: center;
}

.tp-label-file {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer
}

.tp-input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
