:root {
	--bg_color: #f6f8ff;
	--header-footer-color: #e8eaf1;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bg_color, #ffffff);
	font-family: Helvetica, sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}

header {
	position: relative;
	box-shadow: 0 0 2px 1px #c5c5c5;
	background-color: var(--header-footer-color, #ffffff);
	/*padding: 4px 16px;*/
}

footer {
	margin-top: auto;
	padding: 2px 16px;
	background-color: var(--header-footer-color, #ffffff);
}
