@import "roboto-font.css";
@import "open-sans-font.css";

:root {
	--bg_color: #F2F2F2;
	--header-footer-color: #fff;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bg_color, #ffffff);
	font-family: 'Roboto', 'Open Sans', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}

footer {
	margin-top: auto;
	padding: 2px 16px;
	background-color: var(--header-footer-color, #ffffff);
}
