$outline: #ddd;
$star: #FFDB19;

$outline-size: 6px;

.grade-component {
	display: flex;
}

input, label {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.stars {
	position: relative;

	input {
		display: none;

		&:checked ~ label:not(.reset) {
			animation: wobble 0.8s ease-out;
			color: $star;
		}
	}

	label:not(.reset) {
		display: inline-block;
		float: right;
		position: relative;
		padding: 2px;
		cursor: pointer;
		color: $outline;
		transition: color 0.1s ease-out;
		z-index: 10;
	}
}

.stars-label-m {
	width: 40px;
	height: 40px;
	font-size: 30px;
}

.stars-label-s {
	width: 30px;
	height: 30px;
	font-size: 20px;
}

@keyframes wobble {
	0% {
		transform: scale(0.8);
	}
	20% {
		transform: scale(1.1);
	}
	40% {
		transform: scale(0.9);
	}
	60% {
		transform: scale(1.05);
	}
	80% {
		transform: scale(0.96);
	}
	100% {
		transform: scale(1);
	}
}
