<div class="tp-modal-window" id="{{id}}">
	<main class="tp-container card">
		<h1 class="text-center">Войти</h1>
		<form
			class="tp-form"
			id="loginForm"
			method="post"
			autocomplete="off"
			novalidate="novalidate"
		>
{{!--			<label for="email">Электронная почта</label>--}}
{{!--			<input--}}
{{!--				class="tp-input"--}}
{{!--				name="email"--}}
{{!--				id="email"--}}
{{!--				type="email"--}}
{{!--				placeholder="Электронная почта"--}}
{{!--				required--}}
{{!--			/>--}}
			{{{emailField}}}
{{!--			<label for="password">Пароль</label>--}}
{{!--			<input--}}
{{!--				class="tp-input"--}}
{{!--				name="password"--}}
{{!--				id="password"--}}
{{!--				type="password"--}}
{{!--				placeholder="Пароль"--}}
{{!--				required--}}
{{!--			/>--}}
			{{{passwordField}}}
			<input class="tp-button-primary" type="submit" value="Войти" />
		</form>
	</main>
</div>
