<div class="login-page" id="{{_id}}">
	<main class="tp-container tp-centered-container ">
		<div class="login-block card">
			<h1 class="text-center">Войти</h1>
			<form
					class="tp-form"
					id="loginForm"
					method="post"
					autocomplete="off"
					novalidate="novalidate"
			>
				{{{emailField}}}

				{{{passwordField}}}
				{{{submitBtn}}}
			</form>
		</div>
	</main>
</div>
