@import "~@assets/scss/global";

.login-page {
	height: 100%;
	background-image: linear-gradient(130deg, $color5 0%, $color4 51%, $primary-color 75%), url("~@assets/img/background/tieu-chi-thiet-ke-thuong-hieu-2.jpg");
	background-size: cover;
	background-blend-mode: difference;
}

.login-block {
	margin: 10% 30%
}

@media screen and (max-width: 576px) {
	.login-block {
		margin: 20px 5px;
	}
}
