<div id="{{_id}}" class="tp-container tp-centered-container ">
	<div class="tp-row">
		<div class="tp-col-12">
			<div class="page-header">
				Настройки
			</div>
		</div>
		<div class="tp-col-3 settings-sidebar">
			<ul class="settings-sidebar__navigate" role="menubar">
				{{#each tabs}}
					{{#if show}}
					<li class="sidebar-navigate__item {{#if_eq link ../currentTab.link }}sidebar-navigate__item_active{{/if_eq}} ">
						<a class="navigate-item__link" href="?tab={{ link }}" target="_self" role="menuitem">
							{{ title }}
						</a>
					</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>

		<div class="tp-col-9">
			<div class="settings-account">
				{{{ settingsComponent }}}
			</div>
		</div>
	</div>
</div>
