@import "~@assets/scss/global";

.item {
	border-bottom: 1px solid #E0E0E0;
	padding: 20px 30px;
	user-select: none;
	cursor: pointer;

	&:hover {
		//background-color: $secondary-color;
		background-color: #f6fbff;
	}
}

.item:hover a {
	color: $primary-color;
}
