@import '~@assets/scss/global';

.company-info {
	height: 100%;
	border-right: 1px solid #E0E0E0;
	padding: 24px;

	&__main {
		flex-wrap: nowrap;
	}

	&__main-info {
		display: flex;
		flex-direction: column;
		margin-right: auto;
	}
	&__description {
		margin-bottom: 10px;
	}
}

.main-info {
	&__name {
		display: flex;
		flex-wrap: wrap;
		font-size: 1.5em;
		letter-spacing: 0.08em;
	}

	&__item {
		margin-top: 5px;

		&_mobile {
			display: none;
		}
		&_desktop {
			display: flex;
		}
	}

	&__info-columns-wrapper {
		display: flex;
		flex-direction: row;
	}

	&__labels-column {
		display: flex;
		flex-direction: column;
	}

	&__info-column	{
		display: flex;
		flex-direction: column;
	}
}

.labels-column {
	&__label {
		color: $light-text-color;
		margin: 0 12px 10px 0;
	}
}

.info-column {
	&__value {
		margin-bottom: 10px;
	}
}

.info-item {
	&__label {
		color: $light-text-color;
		margin: 0 5px 5px 0;
	}
}

@media screen and (max-width: 576px) {
	.company-info {
		&__main {
			justify-content: flex-start;
		}
	}
	.main-info {
		&__item {
			&_mobile {
				display: flex;
			}
			&_desktop {
				display: none;
			}
		}
	}
}

.company-description {
	&__title {
		font-size: 1.4em;
		font-weight: 400;
		margin: 10px 0;
	}
	&__text {
		padding: 0;
		overflow-wrap: break-word;
		white-space: pre-wrap;
	}
}

.company-contacts {
	&_desktop {
		padding: 24px;
	}
}
