@import '~@assets/scss/global';

.modal-window {
	background-color: #fefefe;
	//margin: 15% 30%; /* 15% from the top and centered */
	/*padding: 20px;*/
	position: absolute;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 50%;

	padding: 0;
	//border: 1px solid #888;
	/*width: 80%; !* Could be more or less, depending on screen size *!*/
	width: fit-content;
	width: -moz-fit-content;

	&__wrapper {
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	}
	&__header {
		padding: 2px 16px;
	}

	&__body {
		padding: 2px 16px;
	}

	&_display {
		display: block;
	}

	&_hide {
		display: none;
	}
}

.modal-header {
	&__title {

	}
	&__close-icon {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;

		&:hover,
		&:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 768px) {
	.modal-window {
		width: 100%;
	}
}
