<div class="tp-container">
	<div class="tp-row tp-underline">
		<h2>
			Двухэтапная аутентефикация
		</h2>
	</div>
	<div class="tp-row tp-align-items-start">
		<div class="tp-col-12">
			<div class="tp-container">
				<h3>Контрольный вопрос:</h3>
				<div class="tp-row tp-row-float-left">
					<h4>Контрольный вопрос задан</h4>
					<a
							class="tp-option-link"
							href="#"
							target="_self"
					>
						Изменить
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
