<div class="tp-container tp-centered-container">
	<div class="tp-row tp-columns-row">
		<div class="tp-col-2 tp-border-wrapper">
			<ul class="tp-menu-navigate" role="menubar">
				<li>
					<a href="#" target="_self" role="menuitem">
						Основное
					</a>
				</li>
				<li>
					<a href="#" target="_self" role="menuitem">
						Уведомления
					</a>
				</li>
				<li>
					<a href="#" target="_self" role="menuitem">
						Пароль и безопасность
					</a>
				</li>
			</ul>
		</div>
		<div class="tp-col-10 tp-border-wrapper">
			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h2>
						Основное
					</h2>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-6">
						<div class="tp-container tp-container-align-center">
							<img
								class="tp-avatar tp-avatar-content-below"
								alt="..."
								src="/media/dev/avatar.png"
								width="120"
								height="120"
							/>
							<a href="#" target="_self">Изменить</a>
						</div>
						<form
							class="tp-form"
							id="mainSettingsForm"
							method="post"
							autocomplete="off"
							novalidate="novalidate"
						>
							<label for="secondName">Фамилия</label>
							<input
								class="tp-input"
								name="secondName"
								id="secondName"
								type="text"
								placeholder="Email"
							/>
							<label for="firstName">Имя</label>
							<input
								class="tp-input"
								name="firstName"
								id="firstName"
								type="text"
								placeholder="Email"
							/>

							<label for="email">Email</label>
							<input
								class="tp-input"
								name="email"
								id="email"
								type="text"
								placeholder="Email"
							/>
							<input
								class="tp-button-primary"
								type="submit"
								value="Сохранить изменения"
							/>
						</form>
					</div>
					<div class="tp-col-6">
						smth important
					</div>
				</div>
				<div class="tp-row tp-row-float-right">
					<a href="#" target="_self">
						Вы можете удалить свой аккаунт
					</a>
				</div>
			</div>

			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h2>
						О компании
					</h2>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-12">
						<div class="tp-container tp-container-align-center">
							<img
								class="tp-avatar tp-avatar-content-below"
								alt="..."
								src="/media/dev/avatar.png"
								width="120"
								height="120"
							/>
							<a href="#" target="_self">Изменить лого</a>
						</div>
						<div class="tp-container">
							<form
								class="tp-form"
								id="companySettingsForm"
								method="post"
								autocomplete="off"
								novalidate="novalidate"
							>
								<label for="companyTitle">Название</label>
								<input
									class="tp-input"
									name="companyTitle"
									id="companyTitle"
									type="text"
									placeholder="Технопарк"
								/>
								<label for="companySite">Сайт</label>
								<input
									class="tp-input"
									name="companySite"
									id="companySite"
									type="text"
									placeholder="park.mail.ru"
								/>

								<label for="headerDescription"
									>Заголовок описания (Tagline)</label
								>
								<input
									class="tp-input"
									name="headerDescription"
									id="headerDescription"
									type="text"
									placeholder="Бауманская 7"
								/>
								<label for="description">Описание</label>
								<textarea
									class="tp-input"
									name="description"
									id="description"
									placeholder="Спасите меня"
								></textarea>
								<input
									class="tp-button-primary"
									type="submit"
									value="Сохранить изменения"
								/>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h3>
						Контакты компании
					</h3>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-12">
						<div class="tp-container">
							<form
								class="tp-form"
								id="companyContactsForm"
								method="post"
								autocomplete="off"
								novalidate="novalidate"
							>
								<label for="companyOwner">Владелец</label>
								<input
									class="tp-input"
									name="companyOwner"
									id="companyOwner"
									type="text"
									readonly
									value="Хлоя Прайс"
								/>
								<label for="companyCountry">Страна</label>
								<select
									class="tp-input"
									name="companyCountry"
									id="companyCountry"
								>
									<option selected disabled
										>Выберите страну</option
									>
									<option value="Россия">Россия</option>
									<option value="Украина">Украина</option>
									<option value="Беларусь">Беларусь</option>
									<option value="Армения">Армения</option>
									<option value="Казахстан">Казахстан</option>
								</select>

								<label for="companyTown">Город</label>
								<input
									class="tp-input"
									name="companyTown"
									id="companyTown"
									type="text"
									placeholder="Москва"
								/>
								<label for="companyAddress">Адрес</label>
								<input
									class="tp-input"
									name="companyAddress"
									id="companyAddress"
									type="text"
									placeholder="Бауманская 7"
								/>
								<label for="companyPhone">Телефон</label>
								<input
									class="tp-input"
									name="companyPhone"
									id="companyPhone"
									type="text"
									placeholder="+78005553535"
								/>
								<input
									class="tp-button-primary"
									type="submit"
									value="Сохранить изменения"
								/>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h2>
						Настройка уведомлений
					</h2>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-12">
						<div class="tp-container">
							<form
								class="tp-form"
								id="notificationsSettings"
								method="post"
								autocomplete="off"
								novalidate="novalidate"
							>
								<h3>
									Присылать по электронной почте следущие
									уведомления:
								</h3>
								<div class="tp-row tp-row-float-left">
									<input
										class="tp-input"
										id="newMessages"
										name="agreement"
										type="checkbox"
									/>
									<label for="newMessages"
										>о новых сообщениях</label
									>
								</div>
								<div class="tp-row tp-row-float-left">
									<input
										class="tp-input"
										id="newProjects"
										name="agreement"
										type="checkbox"
									/>
									<label for="newProjects"
										>о новых проектах</label
									>
								</div>
								<div class="tp-row tp-row-float-left">
									<input
										class="tp-input"
										id="news"
										name="agreement"
										type="checkbox"
									/>
									<label for="news">новости от Сервиса</label>
								</div>
								<input
									class="tp-button-primary"
									type="submit"
									value="Сохранить изменения"
								/>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h2>
						Пароль
					</h2>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-12">
						<div class="tp-container">
							<div class="tp-row tp-row-float-left">
								<h3>Обновлен год назад</h3>
								<a
									class="tp-option-link"
									href="#"
									target="_self"
								>
									Изменить
								</a>
							</div>
						</div>
						<div class="tp-container" id="passwordChangeBlock">
							<form
								class="tp-form"
								id="passwordChangeForm"
								method="post"
								autocomplete="off"
								novalidate="novalidate"
							>
								<label for="oldPassword">Старый пароль</label>
								<input
									class="tp-input"
									name="oldPassword"
									id="oldPassword"
									type="password"
								/>
								<label for="newPassword">Новый пароль</label>
								<input
									class="tp-input"
									name="newPassword"
									id="newPassword"
									type="password"
								/>
								<label for="newPasswordConfirmation"
									>Повторите пароль</label
								>
								<input
									class="tp-input"
									name="newPasswordConfirmation"
									id="newPasswordConfirmation"
									type="password"
								/>
								<input
									class="tp-button-primary"
									type="submit"
									value="Изменить пароль"
								/>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h2>
						История авторизации
					</h2>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-12">
						<div class="tp-container">
							<div class="tp-table">
								<div class="tp-table-caption">
									История авторизации
								</div>
								<div class="tp-table-row">
									<span class="tp-table-th">#</span>
									<span class="tp-table-th"
										>Дата-время (МСК)</span
									>
									<span class="tp-table-th">IP-адрес</span>
									<span class="tp-table-th">Устройство</span>
									<span class="tp-table-th">Приложение</span>
								</div>
								<div class="tp-table-row">
									<span class="tp-table-cell">
										1
									</span>
									<span class="tp-table-cell">
										15.09.2019 02:51
									</span>
									<span class="tp-table-cell">
										91.79.208.198
									</span>
									<span class="tp-table-cell">
										Linux
									</span>
									<span class="tp-table-cell">
										Firefox
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h2>
						Двухэтапная аутентефикация
					</h2>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-12">
						<div class="tp-container">
							<h3>Контрольный вопрос:</h3>
							<div class="tp-row tp-row-float-left">
								<h4>Контрольный вопрос задан</h4>
								<a
									class="tp-option-link"
									href="#"
									target="_self"
								>
									Изменить
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tp-container">
				<div class="tp-row tp-underline">
					<h2>
						Информация для финансовых операций
					</h2>
				</div>
				<div class="tp-row tp-align-items-start">
					<div class="tp-col-12">
						<div class="tp-container">
							<form
								class="tp-form"
								id="financialForm"
								method="post"
								autocomplete="off"
								novalidate="novalidate"
							>
								<label for="fullName"
									>Ваше фамилия, имя и отчество</label
								>
								<input
									class="tp-input"
									name="fullName"
									id="fullName"
									type="text"
									value="Иванов Иван Иванович"
								/>
								<label for="birthdate">Дата рождения</label>
								<input
									class="tp-input"
									name="birthdate"
									id="birthdate"
									type="date"
								/>

								<label for="phoneNumber">Телефон</label>
								<input
									class="tp-input"
									name="phoneNumber"
									id="phoneNumber"
									type="text"
									placeholder="+78005553535"
								/>
								<!--                                        <label for="residency">Резиденство</label>-->
								<div class="tp-form-choice">
									<span>Резиденство</span>
									<div class="tp-row">
										<div class="tp-col-6">
											<div class="tp-container">
												<div class="tp-row">
													<label for="residency_1">
														Резидент Российской
														Федерации
													</label>
													<input
														id="residency_1"
														class="tp-input"
														type="radio"
														checked="checked"
														name="residency"
													/>
												</div>
												<div class="tp-row">
													<label for="residency_2">
														Беженец
													</label>
													<input
														id="residency_2"
														class="tp-input"
														type="radio"
														name="residency"
													/>
												</div>
											</div>
										</div>
										<div class="tp-col-6">
											<div class="tp-container">
												<div class="tp-row">
													<label for="residency_3">
														Не резидент Российской
														Федерации
													</label>
													<input
														class="tp-input"
														id="residency_3"
														type="radio"
														name="residency"
													/>
												</div>
												<div class="tp-row">
													<label for="residency_4">
														Вид на жительство РФ
													</label>
													<input
														id="residency_4"
														class="tp-input"
														type="radio"
														name="residency"
													/>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--                                        <label for="status">Юридический статус</label>-->
								<div class="tp-form-choice">
									<span>Юридический статус</span>
									<div class="tp-row">
										<div class="tp-col-6">
											<div class="tp-row">
												<label for="individual">
													Физическое лицо
												</label>
												<input
													class="tp-input"
													id="individual"
													type="radio"
													name="legalStatus"
												/>
											</div>
										</div>
										<div class="tp-col-6">
											<div class="tp-row">
												<label for="legal-entity">
													ИП или юридическое лицо
												</label>
												<input
													class="tp-input"
													id="legal-entity"
													type="radio"
													name="legalStatus"
												/>
											</div>
										</div>
									</div>
								</div>

								<div class="tp-underline"></div>
								<h3>Паспортные данные</h3>

								<span>Серия и номер паспорта</span>
								<div class="tp-row tp-row-float-left">
									<div class="tp-col-3">
										<input
											class="tp-input"
											name="passportSeries"
											id="passportSeries"
											type="text"
											placeholder="42 11"
										/>
									</div>
									<div class="tp-col-5">
										<input
											class="tp-input"
											name="passportNumber"
											id="passportNumber"
											type="text"
											placeholder="461589"
										/>
									</div>
								</div>
								<label for="dateOfIssue">Дата выдачи</label>
								<input
									class="tp-input"
									name="dateOfIssue"
									id="dateOfIssue"
									type="date"
								/>
								<div class="tp-container">
									<label for="issuedBy">Кем выдан</label>
									<span class="tp-label-note"
										>(Дословно по паспорту)</span
									>
								</div>
								<input
									class="tp-input"
									name="issuedBy"
									id="issuedBy"
									type="text"
									placeholder="МВД России по району ..."
								/>
								<label for="departmentCode"
									>Код подразделения</label
								>
								<div class="tp-row tp-row-float-left">
									<div class="tp-col-3">
										<input
											class="tp-input"
											name="departmentCode"
											id="departmentCode"
											type="text"
											placeholder="404"
										/>
									</div>
								</div>
								<div class="tp-container">
									<label for="registrationAddress"
										>Адрес регистрации</label
									>
									<span class="tp-label-note"
										>(Полностью, включая № квартиры)</span
									>
								</div>
								<input
									class="tp-input"
									name="registrationAddress"
									id="registrationAddress"
									type="text"
									placeholder="Москва, ул. Старый Гай 15"
								/>
								<div class="tp-container">
									<label for="mailAddress"
										>Почтовый адрес</label
									>
									<span class="tp-label-note"
										>(Полностью, включая № квартиры)</span
									>
								</div>
								<input
									class="tp-input"
									name="mailAddress"
									id="mailAddress"
									type="text"
									placeholder="Москва, ул. Старый Гай 15"
								/>
								<input
									class="tp-button-primary"
									type="submit"
									value="Сохранить изменения"
								/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
