@import "~@assets/scss/global";

.proposal-item {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.proposal-item__title {
	padding: 0;
}

.proposal-item__date {
	color: $light-text-color;
}
