@import '~@assets/scss/global';

@mixin inner-item {
	margin: 0 30px;
	padding: 30px 0;
}

.job-details_title {
	margin: 0;
	overflow-wrap: break-word;
}

.features-wrap {
	border-bottom: 1px solid #E0E0E0;
}

.job-details_clear-margins {
	margin: 0 -15px;
}
.job-details {
	border-right: 1px solid #E0E0E0;
}

.job-details__inner-item {
	@include inner-item;
}

.job-details-sidebar {
	margin: 0;

	&_mobile {
		display: none;
	}
	&_desktop {
		display: flex;
		flex-direction: column;
	}
}

.job-details__category {
	color: $primary-color;
	padding: 0;
}

.buttons {
	flex-wrap: nowrap;
	flex-direction: column;

	&_mobile {
		display: none;
	}
	&_desktop {
		display: flex;
	}
}

.buttons button, .buttons a {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.job-details-sidebar {
		&_mobile {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		&_desktop {
			display: none;
		}
	}

	.buttons {
		&_mobile {
			display: flex;
			border: none;
		}
		&_desktop {
			display: none;
		}
	}

	.job-details {
		&__inner-item.buttons {
			padding: 0 0 20px 0;
		}
	}
}

.about-client {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	flex-direction: column;
}

.about-client li {
	position: relative;
	padding-top: 10px;
}

.about-client li strong, .about-client li small {
	display: block;
}

.buttons-group button {
	margin-right: 15px;
}

.job-details__description {
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.job-proposal {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.proposals-item {
	&:not(:last-child) {
		border-bottom: 1px solid #E0E0E0;
		margin-bottom: 10px;
	}

	&__title {
		font-weight: bold;
		letter-spacing: 0.06em;
	}

	&__list {
		margin: 6px 0;
	}
}


.proposals-list {
	&__link {
		margin: 5px 0;
		display: flex;
		flex-direction: row;
	}

	&__date {
		margin-left: auto;
	}
}
