@import "~@assets/scss/global";

.freelancer-item__row {
	display: flex;

}

.freelancer-item__col-full {
	width: 100%;
}

.freelancer-item__avatar-wrapper {
	padding-right: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

.freelancer-item__avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	color: #E0E0E0;
	border: solid 1px #E0E0E0;
	object-fit: cover;
}

.freelancer-item__name {
	padding: 0;
	display: block;
	color: $primary-color;
}

.freelancer-item__small {
	color: #656565;
	font-size: .9em;
}
