<div id="{{_id}}" class="support-chat">
	{{#if loggedIn}}
		<div id="iframe-wrapper" class="support-chat__iframe {{#if display}}support-chat__iframe_display{{else}}support-chat__iframe_hidden{{/if}}">
			<iframe id="iframe-element" src="https://support-fwork.now.sh" class="chat-iframe"></iframe>
		</div>
		<div class="tp-row tp-row_content_right">
			<div id="emit-button" class="support-chat__emit-button {{#if display}}support-chat__emit-button_open{{else}}support-chat__emit-button_close{{/if}}">
				Напишите нам, мы онлайн!
			</div>
		</div>
	{{/if}}
</div>
