@import "~@assets/scss/global.scss";

.support-chat {
	position: fixed;
	bottom: 50px;
	right: 50px;

	&__emit-button {
		padding: 10px;
		border-radius: 12px;
		background-color: $primary-color;
		color: $white;
		font-size: $font-size-m;
		text-align: center;
		cursor: pointer;
		transition: all 0.2s ease;

		&_open {
			width: 100%;
			content: 'Закрыть';
		}

		&_close {
			width: fit-content;
			width: -moz-fit-content;
			content: 'Напишите нам, мы онлайн!';
		}
	}

	&__iframe {
		border-radius: 12px;
		box-shadow: 0 7px 32px 0 rgba(0,0,0,.1);
		margin-bottom: 10px;
		background-color: $white;
		transition: all 200ms ease;
		&_display {
			opacity: 1;
			//height: auto;
		}
		&_hidden {
			opacity: 0;
			//overflow: hidden;
			//height: 0;
		}
	}
}

.chat-iframe {
	border: none;
	height: 600px;
	width: 360px;
}
