<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-8 tp-col_padding_0">
				<div class="card card_no-padding">
					{{#each freelancers}}
						{{{this}}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
