<div id="{{_id}}" class="portfolio-card">
	<img class="portfolio-card__image" alt="x" src="{{ projectFile }}">
	<a class="portfolio-card__link" href="{{ projectUrl }}" target="_self">
		{{ projectTitle }}
	</a>
</div>
