<div id="{{_id}}" class="card-board tp-row tp-row_align_center">
	{{#each children}}
		<div class="card-board__item card-board__item_in-column_{{ columnsCount }}">
			{{{ this }}}
		</div>
	{{/each}}
</div>
