@import "~@assets/scss/global";

.card-board {
	//display: flex;
	//flex-direction: row;
	margin: 6px 0;
	/*padding: 2px 4px;*/
	flex-wrap: wrap;

	&__item {
		&_in-column {
			&_1 {
				width: 100%;
			}
			&_2 {
				width: 50%;
			}
			&_3 {
				width: 33%;
			}
			&_4 {
				width: 25%;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	justify-content: space-between;
}

