<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row">
			<div class="tp-col-9">
				<div class="page-header">
					Мои отклики
				</div>
				<div class="card card_no-padding">
					{{#each proposals}}
						<div>
							{{{this}}}
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
