@import "~@assets/scss/global";

.tabs__nav {
	border-bottom: 1px solid #A0A0A0;
	font-weight: 500;
	display: flex;
	padding: 0 20px;
}

.nav {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.tabs__nav_element {
	padding: 9px 20px 5px;
	margin: 0;
	a:hover {
		text-decoration: none;
		display: block;
	}
}

.tabs__nav_element.active, .tabs__nav_element:hover {
	border-bottom: 4px solid $primary-color;
	color: $primary-color;
	cursor: pointer;
}

.proposals-page {
	min-height: 100%;
	position: relative;
}

.empty-box-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80%;

	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.empty-box {
	text-align: center;
}

.empty-box_text {
	text-align: center;
	padding: 20px;
	font-size: 1.5em;
	color: $primary-color;
}

