<div class="tp-container" id="{{props.id}}">
	<div class="tp-row tp-underline">
		<h2>
			Пароль
		</h2>
	</div>
	<div class="tp-row tp-align-items-start">
		<div class="tp-col-12">
			<div class="tp-container">
				<div class="tp-row tp-row-float-left">
					<h3>Обновлен год назад</h3>
					<a
							class="tp-option-link"
							href="#"
							target="_self"
					>
						Изменить
					</a>
				</div>
			</div>
			<div class="tp-container" id="passwordChangeBlock">
				<form
						class="tp-form"
						id="passwordChangeForm"
						method="post"
						autocomplete="off"
						novalidate="novalidate"
				>
					<label for="oldPassword">Старый пароль</label>
					<input
							class="tp-input"
							name="oldPassword"
							id="oldPassword"
							type="password"
					/>
					<label for="newPassword">Новый пароль</label>
					<input
							class="tp-input"
							name="newPassword"
							id="newPassword"
							type="password"
					/>
					<label for="newPasswordConfirmation"
					>Повторите пароль</label
					>
					<input
							class="tp-input"
							name="newPasswordConfirmation"
							id="newPasswordConfirmation"
							type="password"
					/>
					<input
							class="tp-button-primary"
							type="submit"
							value="Изменить пароль"
					/>
				</form>
			</div>
		</div>
	</div>
</div>
