<div class="tp-container" id="{{props.id}}">
	<div class="tp-row tp-underline">
		<h2>
			Пароль
		</h2>
	</div>
	<div class="tp-row tp-align-items-start">
		<div class="tp-col-12">
{{!--			<div class="tp-container">--}}
{{!--				<div class="tp-row tp-row-float-left">--}}
{{!--					<h4>Обновлен год назад</h4>--}}
{{!--				</div>--}}
{{!--			</div>--}}
			<div class="tp-container" id="passwordChangeBlock">
				<form
						class="tp-form"
						id="passwordChangeForm"
						method="post"
						autocomplete="off"
				>
					<label for="password">Старый пароль</label>
					<input
							class="tp-input"
							name="password"
							id="password"
							type="password"
							required
							autocomplete="false"
					/>
					<label for="newPassword">Новый пароль</label>
					<input
							class="tp-input"
							name="newPassword"
							id="newPassword"
							type="password"
							required
							autocomplete="off"
					/>
					<label for="newPasswordConfirmation"
					>Повторите пароль</label
					>
					<input
							class="tp-input"
							name="newPasswordConfirmation"
							id="newPasswordConfirmation"
							type="password"
							required
							autocomplete="off"
					/>
					<input
							class="tp-button-primary"
							type="submit"
							value="Изменить пароль"
					/>
				</form>
			</div>
		</div>
	</div>
</div>
