<div id="{{_id}}">
	<div class="file-upload-modal__content">
		<div class="file-modal-content__description">{{ description }}</div>
		<div id="avatar-thumb" class="file-modal-content__image"></div>
		<input type="file" id="upload-avatar-input" accept="image/*"/>
	</div>
	<div class="file-upload-modal__buttons tp-row tp-row_content_spaces">
		{{{ selectBtn }}}
		{{{ uploadBtn }}}
	</div>
</div>
