<ul id="{{_id}}" class="navbar__nav">
	{{#loggedIn}}
		{{#isClient}}
			<li class="nav__item">
				<a href="/new-job" role="menuitem" class="btn btn-s btn_primary">
					Разместить заказ
				</a>
			</li>
		{{/isClient}}
		{{{_dropdown}}}
	{{else}}
		<li class="nav__item">
			<a href="/login" role="menuitem" class="btn btn-s btn_primary">
				Войти
			</a>
		</li>
		<li class="nav__item">
			<a href="/signup" role="menuitem" class="nav__link">
				Регистрация
			</a>
		</li>
	{{/loggedIn}}
</ul>
