<ul
		class="tp-navbar-navigate tp-navbar-right-part"
		role="menubar"
>

	<li class="tp-navbar-search">
		<form method="GET" role="search">
			<div>
				<input/>
			</div>
		</form>
	</li>
	<li>
		<a href="/new-project/" role="menuitem">
			Разметить заказ
		</a>
	</li>
	<li>
		<a href="/new-vacancy/" role="menuitem">
			Разметить вакансию
		</a>
	</li>
	{{#loaded}}
		{{#if user}}
			<li class="tp-dropdown" role="none">
				<a class="tp-dropdown-toggle" role="menuitem">
					<div class="tp-navbar-profile"></div>
				</a>
				<ul class="tp-dropdown-content">
					<li role="none" class="{{#isFreelancerMode}}active{{/isFreelancerMode}}">
						<a class='account-switcher' data-mode="freelancer">
							{{user.firstName}} {{user.lastName}}
						</a>
						Freelancer
					</li>
					<li role="none" class="{{#isClientMode}}active{{/isClientMode}}">
						<a class="account-switcher" data-mode="client">
							{{user.client.company.name}}
						</a>
						Client
					</li>
					<li role="none">
						<a
								href="/freelancers/freelancerId"
						>
							Freelancer Profile
						</a>
					</li>
					<li role="none">
						<a href="/settings/">
							Settings
						</a>
					</li>
					<li role="none">
						<a href="/settings-template">
							Client Settings Template
						</a>
					</li>
					<li role="none">
						<a href="/logout" id="logout">
							Log out
						</a>
					</li>
				</ul>
			</li>
		{{else}}
			<li>
				<a href="/login/" role="menuitem">
					Войти
				</a>
			</li>
			<li>
				<a href="/signup/" role="menuitem">
					Регистрация
				</a>
			</li>
		{{/if}}
	{{/loaded}}
</ul>


