@import "~@assets/scss/global.scss";

.user-menu__avatar {
	@include small-avatar;
}

.badge-wrap {
	position: relative;
}

.badge {
	background-color: #dc004e;
	color: #ffffff;
	top: 5px;
	right: 5px;
	transform: scale(1) translate(50%, -50%);
	transform-origin: 100% 0;
	height: 20px;
	display: flex;
	padding: 0 6px;
	z-index: 1;
	position: absolute;
	flex-wrap: wrap;
	font-size: .75rem;
	min-width: 20px;
	transition: transform 225ms cubic-bezier(.4, 0, .2, 1) 0s;
	align-items: center;
	font-weight: 500;
	line-height: 1;
	align-content: center;
	border-radius: 10px;
	flex-direction: row;
	justify-content: center;
}

.user-dropdown-wrap {
	display: flex;
	justify-content: center;
	align-items: center;

	&__arrow {
		margin-left: 10px;
	}
}
