<div id="main-page">
	<div class="tp-container tp-centered-container">
		<div class="tp-row tp-columns-row">
			<div class="tp-col-9 tp-border-wrapper">
				<div class="tp-container">
					<div class="tp-media">
						<div class="tp-row tp-align-items-start">
							<div class="tp-container">
								<img class="tp-avatar" alt="..." src="/media/dev/avatar.jpg" width="120" height="120">
							</div>
							<div class="tp-container">
								<span class="tp-text-title">
									Имя Фамилия
								</span>
								<span>
									Москва,Россия - 2:43, местное время
								</span>
							</div>
							<div class="tp-container tp-row-right-part tp-container-align-center">
								<span>100</span>
								<span>Рейтинг</span>
							</div>
						</div>

						<h2>
							Заголовок описания
						</h2>
						<div class="tp-container">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Ad amet aperiam architecto, consequatur hic minus mollitia nemo quidem quis rem.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Ad amet aperiam architecto, consequatur hic minus mollitia nemo quidem quis rem.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Ad amet aperiam architecto, consequatur hic minus mollitia nemo quidem quis rem.
							</p>
						</div>
						<div class="tp-row tp-align-items-start">
							<div class="tp-container tp-container-align-center">
								<span>
									100000 руб
								</span>
								<span>
									стоимость месяца работы
								</span>
							</div>
							<div class="tp-container tp-container-align-center">
								<span>7000 руб</span>
								<span>стоимомть часа работы</span>
							</div>
							<div class="tp-container tp-container-align-center">
								<span>44 раза</span>
								<span>выбран исполнителем</span>
							</div>
						</div>
					</div>

					<div class="tp-media">
						<div class="tp-row tp-underline">
							<h2>
								История работ и отзывы
							</h2>
							<form
									class="tp-form"
									id="sortHistoryBy"
									method="get"
									autocomplete="off"
									novalidate="novalidate"
							>
								<select
										class="tp-input"
										name="sortBy"
										id="sortBy"
								>
									<option selected value="Новые">Сначала новые</option>
									<option value="Старые">Сначала старые</option>
									<option value="Релевантность">По релевантности</option>
								</select>
							</form>
						</div>
						<div class="tp-col-12">
							<div class="tp-underline">
								<div class="tp-row">
									<span class="tp-text-title">
										Название проекта/заказа
									</span>
									<span>
										40000 руб
									</span>
								</div>
								<div class="tp-row tp-row-float-left">
									<span>*****</span>
									<span>4.1</span>
									<span>14.09.2019</span>
								</div>
								<div class="tp-container">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem
										corporis,
										debitis exercitationem expedita fugit harum laboriosam necessitatibus neque
										nostrum,
										nulla officia repellat sapiente soluta tempora vel voluptas! Quae, reiciendis?
									</p>
								</div>
							</div>
							<div class="tp-underline">
								<div class="tp-row">
									<span class="tp-text-title">
										Название проекта/заказа
									</span>
									<span>
										40000 руб
									</span>
								</div>
								<div class="tp-row tp-row-float-left">
									<span>*****</span>
									<span>4.1</span>
									<span>14.09.2019</span>
								</div>
								<div class="tp-container">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem
										corporis,
										debitis exercitationem expedita fugit harum laboriosam necessitatibus neque
										nostrum,
										nulla officia repellat sapiente soluta tempora vel voluptas! Quae, reiciendis?
									</p>
								</div>
							</div>
							<a href="#" target="_self">
								Посмотреть еще
							</a>
						</div>
					</div>


					<div class="tp-media">
						<div class="tp-row tp-underline">
							<h2>
								Портфолио
							</h2>
						</div>
						<div class="tp-col-12">
							<div class="tp-2cols-list">
								<div class="tp-2cols-list-element">
									<div class="tp-container tp-container-align-center">
										<img class="tp-avatar" alt="..." src="/media/dev/portfolio-project.jpg"
											 width="320" height="160">
										<a href="#" target="_self">
											Заголовок протфолио
										</a>
									</div>
								</div>
								<div class="tp-2cols-list-element">
									<div class="tp-container tp-container-align-center">
										<img class="tp-avatar" alt="..." src="/media/dev/portfolio-project.jpg"
											 width="320" height="160">
										<a href="#" target="_self">
											Заголовок протфолио
										</a>
									</div>
								</div>
								<div class="tp-2cols-list-element">
									<div class="tp-container tp-container-align-center">
										<img class="tp-avatar" alt="..." src="/media/dev/portfolio-project.jpg"
											 width="320" height="160">
										<a href="#" target="_self">
											Заголовок протфолио
										</a>
									</div>
								</div>
								<div class="tp-2cols-list-element">
									<div class="tp-container tp-container-align-center">
										<img class="tp-avatar" alt="..." src="/media/dev/portfolio-project.jpg"
											 width="320" height="160">
										<a href="#" target="_self">
											Заголовок протфолио
										</a>
									</div>
								</div>
							</div>

							<div class="tp-row tp-row-float-right">
								<ul class="tp-paginator">
									<li class="page-item">
										<a href="#">&laquo;</a>
									</li>
									<li>
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">&raquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="tp-media">
						<div class="tp-row tp-underline">
							<h2>
								Навыки
							</h2>
						</div>
						<div class="tp-col-12">
							<div class="tp-row tp-row-float-left">
								<div class="tp-framed-tag">
									JavaScript
								</div>
								<div class="tp-framed-tag">
									Python
								</div>
								<div class="tp-framed-tag">
									Frontend Development
								</div>
							</div>
						</div>
					</div>

					<div class="tp-media">
						<div class="tp-row tp-underline">
							<h2>
								Опыт работы
							</h2>
						</div>
						<div class="tp-col-12">
							<p>smth</p>
						</div>
					</div>

					<div class="tp-media">
						<div class="tp-row tp-underline">
							<h2>
								Образование
							</h2>
						</div>
						<div class="tp-col-12">
							<p>smth</p>
						</div>
					</div>

				</div>
			</div>


			<div class="tp-col-3 tp-border-wrapper">
				<button class="tp-button-primary">
					Предложить проект
				</button>
				<button class="tp-button-primary">
					Добавить в избранное
				</button>
				<div class="tp-container">
					<span class="tp-text-title">
						Свободен
					</span>
					<span>
						Более 30ч. в неделю
					</span>
				</div>
				<div class="tp-container">
					<span class="tp-text-title">
						Ссылка на профиль
					</span>
					<input
							class="tp-input"
							type="text"
							readonly
							value="https://example.com/"
					>
					<a href="#">
						Копиоровать ссылку
					</a>
				</div>
				<div class="tp-container">
					<span class="tp-text-title">
						Языки
					</span>
					<div class="tp-row">
						<span>
							Русский:
						</span>
						<span>
							родной
						</span>
					</div>
				</div>
				<div class="tp-row">
						<span>
							Английский:
						</span>
					<span>
							разговорный
						</span>
				</div>
			</div>

		</div>
	</div>
</div>
