@import "~@assets/scss/global";

.navbar {
	display: flex;
	min-height: 55px;
}

.navbar__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

.navbar__collapse {
	display: flex;
	width: 100%;
}

.navbar__nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.nav__item {
	color: $light-text-color;
	padding: 15px 12px;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 1;
	display: flex;
	white-space: nowrap;

	&:hover {
		@include active;
	}
}

.nav__item_active {
	@include active;
}

.nav__link {
	text-decoration: none;
	display: inline-block;
	padding: 0;

	&:hover {
		text-decoration: none;
	}
}


.navbar__toggler {
	cursor: pointer;
	display: none;
	color: #959ba4;
	padding: 0;
}


.navbar__nav_right {
	margin-left: auto;
}

.navbar__header-search {
	display: none;
}

.navbar__brand {
	color: $color4;

	font-size: 1.8em;
	z-index: 99999;
	font-family: sans-serif;
	font-weight: bold;

	&:hover {
		text-decoration: none;
		color: darken($color4, 5%);
	}

	&:focus {
		text-decoration: none;
	}
}

.navbar__search-input {
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	color: #656565;
	position: relative;

	input {
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-right: 40px;
		border: none;
		width: 100%;
		background: none;

		&:hover, &:focus {
			outline: none;
			background: #fff;
		}
	}

	&:hover, &:focus {
		border: 1px solid $primary-color;
		transition: all ease-in-out .15s;
	}

	button {
		padding: 10px;
		color: $light-text-color;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			color: $primary-color;
		}

		&:focus {
			outline: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.navbar__collapse {
		display: none;
	}
	.navbar__toggler {
		display: block;
	}
	.navbar__nav_responsive .navbar__collapse {
		display: block;
	}
	.navbar__nav_responsive .navbar__nav {
		flex-direction: column;
	}
	.navbar__nav_responsive .nav__link {
		width: 100%;
	}

	.navbar {
		flex-direction: column;
	}

	.navbar__nav_right {
		margin-left: 0;
	}

	.navbar__header-search {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.navbar__nav_responsive {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: white;
		z-index: 1;

		padding: 0 15px;
	}

	.navbar__nav_responsive .nav__item {
		width: 100%;
		text-align: left;
		padding: 12px 12px;
	}
	.navbar__nav_responsive .dropdown__content {
		position: relative;
		box-shadow: none;
	}
}
