<nav id="{{_id}}" class="navbar">
	<div class="navbar__header">
		<a href="javascript:void(0);" class="navbar__toggler">
			<i class="fa fa-bars">menu icon</i>
		</a>
		<a class="navbar__brand" href="/">FWork</a>
		<div class="navbar__header-search">search icon</div>
	</div>

	<div class="navbar__collapse">
		<ul class="navbar__nav" role="menubar">
			<li class="nav__item">
				{{!--				<a href="/jobs?type=project" target="_self" role="menuitem" class="nav__link">--}}
				{{!--					icon--}}
				{{!--				</a>--}}
				<form method="GET" role="search">
					<div>
{{!--						<input class="navbar__search-input"/>--}}
						<span class="navbar__search-input">
							<input type="text" placeholder="Поиск работ">
							<span></span>
						</span>
					</div>
				</form>
			</li>
		</ul>
		<ul class="navbar__nav navbar__nav_right" role="menubar">
			{{{_dropdown}}}
			<li class="nav__item">
				<a href="/freelancers" target="_self" role="menuitem" class="nav__link">
					Фрилансеры
				</a>
			</li>
			{{{_othersDropdown}}}
		</ul>
		{{{userMenu}}}
	</div>
</nav>
