@import '~@assets/scss/global';

.profile-info {
	&__main {
		flex-wrap: nowrap;
	}

	&__avatar {
		display: flex;
		margin: -12px 12px 0 -12px;
	}
	&__main-info {
		display: flex;
		flex-direction: column;
		margin-right: auto;
	}
	&__description {
		margin-bottom: 10px;
	}
	&__selected {
		text-align: end;
	}
}

.main-info {
	&__name {
		display: flex;
		flex-wrap: wrap;
		font-size: 1.5em;
		letter-spacing: 0.08em;
	}

	&__item {
		margin-top: 5px;

		&_mobile {
			display: none;
		}
		&_desktop {
			display: flex;
		}
	}

	&__info-columns-wrapper {
		margin-top: 12px;
		display: flex;
		flex-direction: row;
	}

	&__labels-column {
		display: flex;
		flex-direction: column;
	}

	&__info-column	{
		display: flex;
		flex-direction: column;
	}
}

.labels-column {
	&__label {
		color: $light-text-color;
		margin: 0 12px 10px 0;
	}
}

.info-column {
	&__value {
		margin-bottom: 10px;
	}
}

.info-item {
	&__label {
		color: $light-text-color;
		margin: 0 5px 5px 0;
	}
}

@media screen and (max-width: 576px) {
	.profile-info {
		&__main {
			justify-content: flex-start;
		}
	}
	.main-info {
		&__item {
			&_mobile {
				display: flex;
			}
			&_desktop {
				display: none;
			}
		}
	}
}

.profile-description {
	&__title {
		font-size: 1.4em;
		font-weight: 400;
		margin: 10px 0;
	}
	&__text {
		padding: 0;
		overflow-wrap: break-word;
		white-space: pre-wrap;
	}
}

.card_no-padding > .profile-history__header {
	margin: 0;
}

.profile-history {
	&__header {
	}
	&__items {
		margin: 0 -1.5em;
	}
	&__footer {
		margin: 0 -1.5em -1.5em -1.5em;
	}
}

.profile-skills {
	&__row {
		flex-wrap: wrap;
		margin-top: 1.5em;
	}
}

.profile-sidebar {
	display: flex;
	flex-direction: column;

	padding: 20px;

	&__buttons {
		margin: 10px;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		& > *:not(:first-child) {
			margin-top: 10px;
		}
		& button {
			width: 100%;
		}
	}

	&__availability {
		display: flex;
		flex-direction: column;
		//align-items: center;
		margin-bottom: 10px;
	}

	&__profile-link {
		margin: 10px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	&__languages {

	}

	&_mobile {
		display: none;
	}

	&_desktop {
		display: flex;
	}
}

@media screen and (max-width: 768px) {
	.profile-sidebar {
		padding: 0 20px;
		&__buttons {
			flex-direction: row;
			align-items: center;
			margin: 0;

			& > *:not(:first-child) {
				margin: 0 0 0 6px;
			}
		}

		&_mobile {
			display: flex;
			flex-direction: column;
		}

		&_desktop {
			display: none;
		}
	}
}

.sidebar-availability {
	&__availability {
		font-size: 1em;
		color: $color4;
		letter-spacing: 0.08em;
	}
	&__description {
		font-size: 0.95em;
	}
}

.profile-link {
	&__title {

	}
	&__link {

	}
	&__copy {
		font-size: 0.9em;
		margin-top: -5px;
		color: $color4;
		text-align: left;
	}
}

.sidebar-languages {
	&__title {
		margin-left: 10px;
		font-size: 16px;
		font-weight: 700;
	}

	&__table {
		margin: 5px 10px;
	}
}

.languages-table {
	&__language {
		display: flex;
		justify-content: flex-start;
		color: $color3;
	}
	&__type {
		display: flex;
		justify-content: flex-end;
		color: $color4;
	}
}
