.proposal__action-buttons {
	padding-bottom: 0;
}

.proposal-details {
	margin-top: 20px;
}

.proposal-details__key {
	font-weight: bold;
	margin-bottom: 5px;
}

.proposal__freelancer-block {
	display: flex;
	padding-top: 0;
	padding-bottom: 12px;

	&__info {
		margin-left: 12px;
	}

	& img {
		margin: 0;
	}
}

.fwork-chat-wrapper {
	background-color: #f6fbff;
}
.fwork-chat {
	height: 500px;
	margin-top: 20px;
}
