<div id="{{_id}}">
	<div class="tp-container tp-centered-container">
		<div class="tp-row">
			<div class="tp-col-12">
				<div class="page-header">
					Отклик или предложение
				</div>

			</div>
		</div>
	</div>
</div>
