<div class="tp-row tp-row_content_left">
	<div class="tp-col-8 ">
		<div class="card card_no-padding">
			{{#each jobs}}
				{{{this}}}
			{{/each}}
		</div>
		{{#loading}}
			<div>Загрузка...</div>
		{{/loading}}
	</div>
</div>
