.checkbox-component {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-component input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 5px;
	transition: all .3s;
}

.checkbox-component:hover input ~ .checkmark {
	background-color: #ccc;
}

.checkbox-component input:checked ~ .checkmark {
	background-color: var(--color4);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-component input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-component .checkmark:after {
	left: 7px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: all .3s cubic-bezier(.78, .14, .15, .86);
}
