<div id="tp-main-page-photo">
	<div class="shining-wrap">
		<p class="shining">Shining Text Animation Effects</p>
	</div>
	<div class="tp-shadow">


		<div class="tp-row tp-row-centered tp-h-100">
			<div class="tp-container">
				<h1 class="tp-main-text">
					ДОСТУПНЫЙ ФРИЛАНС ДЛЯ КАЖДОГО
				</h1>
				<div class="tp-row tp-row-space-around">
					<button class="tp-main-screen-buttons">
						Найти фрилансера
					</button>
					<button class="tp-main-screen-buttons">
						Стать фрилансером
					</button>
				</div>
				<div>
					<div class="chasing-container">
						<svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
							<circle cx="170" cy="170" r="160" stroke="#E2007C"/>
							<circle cx="170" cy="170" r="135" stroke="#404041"/>
							<circle cx="170" cy="170" r="110" stroke="#E2007C"/>
							<circle cx="170" cy="170" r="85" stroke="#404041"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<h1>Pulse Animation</h1>
			<svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<circle id="Oval" cx="512" cy="512" r="512"></circle>
				<circle id="Oval" cx="512" cy="512" r="512"></circle>
				<circle id="Oval" cx="512" cy="512" r="512"></circle>
			</svg>
		</div>
	</div>

</div>
