<div id={{_id}} class="main-page">
	<section class="block block-1">
		<canvas class="block__pulticles" id="block__pulticles"></canvas>
		<div>
			<h1 class="block__title main-title">Биржа фриланса</h1>
			<h2 class="block__title main-desc">Поиск надежных фрилансеров для удаленной работы</h2>
			<div class="block__title">
				<a href="/signup" class="main-page-btn">Регистрация</a>
			</div>
		</div>
		<div class="tp-container tp-centered-container">
			<div class="how-it-works-wrap">
				<div class="how-it-works">
					<span class="how-it-works__number"><i class="fas fa-angle-double-right"></i></span>
					<h3>1. Разместите задание</h3>
				</div>
				<div class="how-it-works">
					<span class="how-it-works__number"><i class="fas fa-angle-double-right"></i></span>
					<h3>2. Фрилансеры предложат свои услуги</h3>
				</div>
				<div class="how-it-works">
					<span class="how-it-works__number"><i class="fas fa-check"></i></span>
					<h3>3. Выберите лучшего исполнителя по отзывам или цене</h3>
				</div>
			</div>
		</div>
	</section>
</div>
