@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 5rem;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	color: #343434;
}

.container {
	position: relative;
	z-index: 0;
	background-color: #ededed;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}

.pulse {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 30rem;

	circle {
		fill: #ff5154;
		transform: scale(0);
		opacity: 0;
		transform-origin: 50% 50%;
		animation: pulse 2s cubic-bezier(.5,.5,0,1);

		&:nth-child(2) {
			fill: #7fc6a4;
			animation: pulse 2s 0.75s cubic-bezier(.5,.5,0,1);
		}

		&:nth-child(3) {
			fill: #e5f77d;
			animation: pulse 2s 1.5s cubic-bezier(.5,.5,0,1);
		}

	}

}

@keyframes pulse {

	25% {
		opacity: 0.4;
	}

	100% {
		transform: scale(1);
	}

}
