//html {
//	box-sizing: border-box;
//}
//
//*,
//*::before,
//*::after {
//	box-sizing: border-box;
//}

.tp-container {
	max-width: 1140px;
	/*margin: 0 auto;*/
	display: flex;
	flex-direction: column;
	width: 100%;

	&_align {
		&_center {
			align-items: center;
		}
	}
}

.tp-centered-container {
	margin: 0 auto;
}

.tp-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	&_content {
		&_center {
			justify-content: center;
		}

		&_left {
			justify-content: flex-start;
		}

		&_right {
			justify-content: flex-end;
		}

		&_stretch {
			justify-content: space-between;
		}
	}

	&_align {
		&_center {
			align-items: center;
		}
	}
}

.tp-col,
[class*='tp-col-'] {
	--columns: 12;
	--width-default: 0;
	--width: var(--width-mobile, var(--width-default));
	flex-basis: calc(var(--width) / var(--columns) * 100%);
	//padding: 16px;
	padding-right: 15px;
	padding-left: 15px;
	max-width: calc(var(--width) / var(--columns) * 100%);
	/*background-color: white;*/
	/*border: #f5f5f6 4px solid;*/
}

.tp-col {
	&-1 {
		--width: 1;
	}
	&-2 {
		--width: 2;
	}
	&-3 {
		--width: 3;
	}
	&-4 {
		--width: 4;
	}
	&-5 {
		--width: 5;
	}
	&-6 {
		--width: 6;
	}
	&-7 {
		--width: 7;
	}
	&-8 {
		--width: 8;
	}
	&-9 {
		--width: 9;
	}
	&-10 {
		--width: 10;
	}
	&-11 {
		--width: 11;
	}
	&-12 {
		--width: 12;
	}

	&_padding_0 {
		padding: 0;
	}
}

@media screen and (max-width: 768px) {
	.tp-col {
		&-1,
		&-2,
		&-3,
		&-4,
		&-5,
		&-6 {
			--width: 12;
		}
		&-7,
		&-8,
		&-9,
		&-10,
		&-11,
		&-12 {
			--width: 12;
		}
	}
}

@media (min-width: 576px) {
	.tp-col {
		--width: var(--width-tablet, var(--width-mobile, var(--width-default)));
	}
}

@media (min-width: 768px) {
	.tp-col {
		--width: var(
			--width-desktop,
			var(--width-tablet, var(--width-mobile, var(--width-default)))
		);
	}
}

.tp-header {
	--width-mobile: 12;
}

.tp-content {
	--width-mobile: 12;
	--width-tablet: 6;
	--width-desktop: 8;
}

.tp-sidebar {
	--width-mobile: 12;
	--width-tablet: 6;
	--width-desktop: 4;
}
